# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
.pyenv/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Build artifacts
*.txz
*.tar.gz
dist/
source/usr/local/emhttp/plugins/unraid-stats2mqtt/version

# Editor
.vscode/
.idea/
*.swp
*.swo
